@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #C2F1F7;
    color: #333;
    
  }
  
  h1{
    text-align: center;
    margin: 30px;
    color: #3fb1f2;
  }
  
  h2{
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    margin-left: 20px;
  }
  
  nav a:hover {
    color: #f4f4f4;
    
  }
.container {
    display: flex;
    width: max-content;
    margin: 0 auto;
    padding: 20px;
  }

  
  .content {
    position: inherit;
    background-color: #ffffffa4;
    padding: 25px 30px 0px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }

  .desc {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    width: max-content;
    padding: 25px 30px 0px 30px;
    height: 240px;
  }


  .custum-file-upload {
    height: 100px;
    width: 150px;
    display: inline-table;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 40px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }

  .comic-button {
    background-color: #3fb1f2;
    padding: 7px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    font-size: 18px;
    margin-bottom: 3rem;
    transition: 0.3s;
  }
  
  .comic-button:hover {
    background-color: #1970E6;
  }



  @media (max-width: 850px) {
    .container, .desc {
      height: auto;
      overflow: hidden;
      width: 100%;
    }

    .desc {
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
      }

}  

@media (max-width: 530px) {
    main {
      padding: 1rem;
    }
  
    .container {
      border-radius: 2rem;
    }

    .desc{
        padding: 1rem;
      }


}