.imagem-100x100 {
    width: 100px;
    height: 100px;
}

.imagem-200x200 {
    width: 200px;
    height: 200px;
}

.imagem-160x160 {
    width: 160px;
    height: 160px;
}

.imagem-150x150 {
    width: 160px;
    height: 160px;
}
